---
import CmsShell from "../components/CmsShell";
import DashboardMount from "../components/DashboardMount.astro";

const basePath = import.meta.env.BASE_URL.replace(/\/$/, "");
---

<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Bebras Bolivia - CMS</title>
    <link rel="icon" type="image/png" href={`${basePath}/favicon.png`} />
    <link rel="stylesheet" href={`${basePath}/css/styles.css`} />
  </head>
  <body>
    <CmsShell client:load />

    <script is:inline define:vars={{ basePath }}>
      window.CMS_BASE_PATH = basePath;
    </script>
    <DashboardMount />
  </body>
</html>
